/* COMMON CSS */
*{padding: 0; margin: 0; box-sizing: border-box;}
img{width: 100%;}
.widthh{width: 100%; clear: both; float: left;}
.ml{margin-left: 50%;}
li{list-style-type: none;}
ul> li> a {text-decoration: none; color: black;}
/* COMPONENTS */

/* HEADER */
.header ul{width: 100%; float: left;margin-top: 5%;}
.header ul li{display: inline-block;width: 15%;}

/* Fotter */
.fotter{
    background-color: #333333;
    width: 100%;
    float: left;
    margin-top: 5%;
}

.latestnews ul{
    width: 100%;
    float: left;
}

.latestnews ul li{
    width: 25%;
    float: left;
}
/* Landing Page */

/* Enquiryform  */
.enquiryform , .enquiryform ul{
    width: 100%;
    float: left;
}

.enquiryform ul li{
    padding-top: 4%;
    width: 50%;
    float: left;
}

.enquiryform ul li:last-child{
    width: 100%;
    float: left;
}

.enquiryform ul li input{
    border: none;
    border-bottom: black 2px solid;
}


/* Slider */

.Bannerslider{background-color: green;}


